@import "flex";

.flex-item {
  display: flex;
  height: pxToRem(60);
  border-bottom: $border;
  align-items: center;
  padding: 0 .2rem;
  justify-content: space-between;
  &:last-child {
    border-bottom: none;
  }
  &.add-border-top {
    &:first-child {
      border-top: $border;
    }
  }
  &.add-border-bottom {
    &:last-child {
      border-bottom: $border;
    }
  }
  &.kill-padding {
    padding: 0;
  }
  &.kill-border-bottom {
    border-bottom: none;
  }
  &.centerAround {
    @extend .flexCenterAround;
  }
  &.middleLeft {
    @extend .flexMiddleLeft;
  }
  &.default {
    @extend .flexDefault;
  }
}
