// bower:scss
// endbower
@import "flex";
@import "flex-section";
@import "flex-box";
@import "flex-list";
@import "flex-item";
@import "flex-button";

body {
  .flex-section {
    border: 1px solid #0b97c4;
    margin-bottom: 1rem;
    .flex-box {
      border: 1px solid #00d6b2;
    }
  }

}
